.title-tab {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24
}


.modal {
    display: none;
}

.modal.is-open {
    display: flex;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    cursor: pointer;
    font-size: 2.5rem;
    color: #d1d5db;
    transition: color 0.2s;
}

.star-rating input[type="radio"]:checked~label,
.star-rating label:hover,
.star-rating label:hover~label {
    color: #FEBD69;
}

.star-rating input[type="radio"]:hover~label {
    color: #FEBD69;
}

.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}